@{
    ViewData["Title"] = "Home Page";
}


<div class="row">
    <div class="col-md-3">
        <h2>Starwars</h2>
        <ul>
        </ul>
        <table>
            <tr>
                <th>name</th>
                <th>height</th>
                <th>mass</th>
                <th>nombre de films</th>
            </tr>
            <tbody id="todos"></tbody>
        </table>
    </div>
</div>
